body {
	background-image: url(http://www.snazzyspace.com/defaultimages/000000_vans-black-waffle-sole.gif);
}



header{
	display: inline;
	font-family: Futura;
	height: 100px;
	margin-right: 10px;
	padding: 10px 10px 20px 10px;
}

header img {

	margin-top: -150px;
	float:left;
}



nav .container {

	width: 60px;
	display: block;
	font-family: Futura;
	height: 100px;
	margin-right: 10px;
	padding: 10px 10px 20px 10px;
}

header h1 {
	color: #fff;
	background-color: black;
	text-align: center;
	padding: 20px;

}

.container {
	height: 275px;
	width: 220px;
	float:left;
	background-color: black;
}

nav ul a li {
	background-color: black;
	display: inline-block;
	border: 7px solid #fff;
	color: #fff;
	font-family: Futura;
	width: 120px;
	list-style: none;
	text-align: center;
	padding: 10px;
	text-decoration: none;
	margin-top: 5px;
	}

	h3 {
		color: #fff;
		font-family: Futura;
		text-align: center;
		padding: 3px;
	}

	.error .fotos{
		display:inline-block;


	}
	
	.centro {
		padding-top: 1px;
		height: 400px;
		width: 600px;
		float: center;
		background-color: black;
		margin-left: 350px;
		
	}

h6 {
	color: #fff;
	list-style: none;
	text-decoration: none;
	font-family: Futura;
}

footer .final ul a {
	height: 30px;
	width: 1150px;
	color: #fff;
	display:inline-block;
	text-decoration: none;
	padding: 10px ;
	list-style: none;
	background-color: black;
	font-family: Futura;

}


